<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>General Info</h3>
  <p>
    <ul>
		<li>Please only download <a href="https://github.com/xero-official/Xero-Wallet/releases" rel="nofollow" target="_blank">
         Official wallets</a> for Xerom ($XERO) from official sources</li>
      <li>Link to <a href="https://xerom.org" rel="nofollow" target="_blank">
         Xerom's Official web</a> page</li>
      <li>Join Xerom's Official <a href="https://discord.gg/qtsC9Dc" rel="nofollow" target="_blank">
         Discord</a>.</li>
      <li>Link to <a href="https://ether1.org" rel="nofollow" target="_blank">
         Ether-1's Official web</a> page</li> 
	  	<li>Check out ether-1's <a href="https://ethofs.com/" rel="nofollow" target="_blank">
         ethoFS</a>.</li>
      <li>Buy/sell Xerom ($XERO) from <a href="https://asymetrex.com/?ref=412" rel="nofollow" target="_blank">
         AsymetrEX</a>.</li>
      <li>Rent hash power from <a href="https://www.miningrigrentals.com/?ref=2593799" rel="nofollow" target="_blank">
         MiningRigRentals</a>.</li>
    </ul>
  </p>
</div>
